<div>
    <div class="modal-header">
        <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <div ng-if="errors">
            <div class="bs-callout bs-callout-info alert-danger">
                <p style="padding: 0px;margin: 4px 3px;"> <i class="fa fa-info-circle" style="font-size: 18px;vertical-align: middle;"></i> {{errors}}</p>
            </div>
        </div>
        <div ng-if="response">
            <div class="bs-callout bs-callout-info alert-success">
                <p style="padding: 0px;margin: 4px 3px;"> <i class="fa fa-info-circle" style="font-size: 18px;vertical-align: middle;"></i> {{response}}</p>
            </div>
        </div>
        <p ng-bind-html="body"></p>
    </div>
    <div class="modal-footer">
        <button ng-click="ok()" ng-disabled="notifyModalButton" class="btn btn-success">Si</button>
        <button ng-click="cancel()" type="button" class="btn btn-default" data-dismiss="modal">No</button>
    </div>
</div>
